.form {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  padding-top: 15px;
  color: rgb(255, 30, 0);
}
.input {
  width: 250px;
  border-radius: 5px;
} 
.right-box {
  display: flex;
flex-direction: column; 
align-items: center;
justify-content: center;
}
.alert {
  width: 170px;
}
img {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -999999999999;
}
