



.form {
  height: 85vh;
  display: flex
  align-items: center;
  justify-content: center;
}
.header {
  padding-top: 15px;
  color: rgb(255, 30, 0);
}
input {
  width: 250px;
  border-radius: 5px;
}